<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="HiveConfigurationSection" type="SB.Community.Hive.Settings.HiveConfigurationSection, SB.Community.Hive" />
		<section name="LoggerConfigurationSection" type="SB.Community.Log.Settings.LoggerConfigurationSection, SB.Community.Log"/>
	</configSections>
	<HiveConfigurationSection logPath="C:\Logs\IIS\" servicePort="80" enableConsole="true" serviceName="OT.Demo.Hive.Users" jaegerAgentHost="jaeger">
		<!--<xmlComments>
			<add path="OpenTelemetry.Demo.Hive.Users.WebApi.xml" />
		</xmlComments>-->
	</HiveConfigurationSection>
	<LoggerConfigurationSection logLevel="4" logPath="C:\Logs\" enableConsole="true" />
	<appSettings>
		<add key="SB.Community.Hive.Log" value="C:\Logs" />
		<add key="setting1" value="100" />
		<add key="setting2" value="200" />
		<add key="setting3" value="300" />
		<add key="setting4" value="400" />
		<add key="setting5" value="500" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
</configuration>